{% extends "base.html" %}

{% block title %}FFP Tool{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between" style="padding:0px; padding-left: 8px; margin-left: 12px; margin-top: 15px; margin-bottom: 50px;">
        <div class="d-flex align-middle">
            <a class="navbar-brand d-inline-block" href="{{ url_for('landingpage') }}" style="padding:0px">
                <img src="{{url_for('static', filename='multipeat_logo.png')}}" alt="Logo" width="50" height="40" class="align-middle" style="padding-right: 5px;">
                <img src="{{url_for('static', filename='ASPECT_logo.png')}}" alt="Logo" width="75" height="40" class="align-middle" style="padding-right: 10px;">
            </a>
            <div class="d-inline-block align-middle">
                <h3 class="d-inline-block" style="margin-right: 2px;">Peatland</h3> <h3 style="color: #9fbbcf; font-weight: bold;" class="d-inline-block">TOOLKIT</h3>
                <p class="d-block" style="font-size: small; margin-top: -7px;">Advancing capabilities to measure and regenerate wetlands</p>
            </div>
        </div>
        <div class="d-inline-flex align-middle justify-self-end" style="margin-right: 0px;">
            <div class="d-inline-flex input-group" role="search">
                <span class="input-group-text d-inline-block search-svg-block" style="height:30px; width:30px; padding:0px">
                    <svg height="18" width="18" class="align-middle">
                        <image style="height:18px; width:18px" xlink:href="{{ url_for('static', filename='search.svg') }}"></image>
                    </svg>
                </span>
                <input class="form-control d-inline-block search-entry" style="height:30px;" type="search" placeholder="KEYWORD SEARCH" id="header-search" aria-label="Search">
            </div>
            <p style="padding-left: 10px;" class="d-inline-flex align-middle justify-content-end">Login</p>
            <div style="border-right: 1px solid #9fbbcf; height: 25px; padding: 0px 5px; align-self: center;"></div>
            <p class="d-inline-flex align-middle" style="padding-left: 10px;">EN</p>
            <div class="d-inline align-bottom" style="margin-right: 12px;">
                <svg id="language-tog" height="18" width="18" fill="#9fbbcf" style="display: block; padding-left:5px;" class="d-inline align-center">
                    <image style="height:12px; width:12px;" xlink:href="{{ url_for('static', filename='chevron-down.svg') }}"></image>
                </svg>
            </div>
        </div>
    </div>
    <div style="background-color: #9fbbcf; height: 40px; width: 100%;" class="position-absolute bottom-0">
        <div style="padding-top: 0px;" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('map_page') }}" style="padding: 7px; margin-left: 15px; font-weight: bold;">SITES & POLICIES</a>
                </li>
                <div style="border-right: 1px solid #747474; height: 25px; padding: 0px 10px; align-self: center;"></div>
                <li class="nav-item">
                    <a class="nav-link on-page" href="{{ url_for('toolbox') }}" style="padding: 7px; margin-left: 15px; font-weight: bold;">USE THE TOOLS</a>
                </li>
                <div style="border-right: 1px solid #747474; height: 25px; padding: 0px 10px; align-self: center;"></div>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document Listings</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom CSS styles can be added here */
    /* Adjustments for card layout */
    .card {
      margin-bottom: 20px;
    }
    /* Custom colors for headings */
    .custom-heading {
      position: relative;
      color: #fff; /* White */
      background-color: #007bff; /* Blue */
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 15px;
    }
    .custom-heading::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -10px;
      width: 5px;
      height: 70%;
      background-color: #007bff; /* Blue */
      transform: translateY(-50%);
      display: none;
    }
    .custom-heading:hover::before {
      display: block;
    }
    /* Custom colors for values */
    .custom-value {
      color: #0099cc; /* Blue */
    }
    /* Modern and stylish filter inputs */
    input.form-control {
      border: 1px solid #ced4da;
      border-radius: 5px;
      padding: 8px 15px;
    }
    input.form-control:focus {
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>MultiPeat Policy View</h1>
    <!-- Filter form -->
    <form id="filterForm">
      <div class="row">
        <div class="col-md-3">
          <input type="text" class="form-control" id="filterID" placeholder="Filter by ID">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="filterPublished" placeholder="Filter by Published">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="filterCategory" placeholder="Filter by Category">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="filterArea" placeholder="Filter by Area">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="filterLanguage" placeholder="Filter by Language">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="filterTopTopics" placeholder="Filter by Top Topics">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="filterSubcategory" placeholder="Filter by Subcategory">
        </div>
      </div>
    </form>
    <div class="row" id="documentContainer">
      <!-- Cards will be populated here using JavaScript -->
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    // Sample data (you can replace this with your actual data)
    var data = [
      {
        "ID": "IRE1",
        "Title": "Guidance for Planning Authorities on Drainage and Reclamation of Wetlands",
        "Snippet": "",
        "Published": "1/1/2020",
        "Category": "Land Use",
        "Area": "National",
        "Language": "English",
        "Top Topics": "General",
        "Subcategory": "Conservation"
      },
      {
        "ID": "IRE2",
        "Title": "National Peatlands Strategy",
        "Snippet": "This Strategy will guide the Government's approach to peatlands management and conservation in the future, taking into account current and potential uses of this key resource.",
        "Published": "1/1/2015",
        "Category": "Land Use",
        "Area": "National",
        "Language": "English",
        "Top Topics": "Peatlands",
        "Subcategory": "Biodiversity Management"
      }
    ];

    // Function to populate cards with data
    function populateCards(data) {
      var container = $('#documentContainer');
      container.empty(); // Clear previous content
      data.forEach(function(doc) {
        var card = $('<div class="col-md-6"><div class="card"><div class="card-body"></div></div></div>');
        var cardBody = card.find('.card-body');
        var collapseId = 'collapse' + doc.ID;
        cardBody.append('<h5 class="card-title custom-heading" data-toggle="collapse" data-target="#' + collapseId + '">' + doc.Title + '</h5>');
        var collapseDiv = $('<div class="collapse" id="' + collapseId + '"></div>');
        collapseDiv.append('<ul class="list-group list-group-flush">' +
          '<li class="list-group-item"><span  data-toggle="collapse" data-target="#' + collapseId + 'ID">ID:</span><span class="custom-value collapse show" id="' + collapseId + 'ID">' + doc.ID + '</span></li>' +
          '<li class="list-group-item"><span  data-toggle="collapse" data-target="#' + collapseId + 'Published">Published:</span><span class="custom-value collapse show" id="' + collapseId + 'Published">' + doc.Published + '</span></li>' +
          '<li class="list-group-item"><span  data-toggle="collapse" data-target="#' + collapseId + 'Category">Category:</span><span class="custom-value collapse show" id="' + collapseId + 'Category">' + doc.Category + '</span></li>' +
          '<li class="list-group-item"><span  data-toggle="collapse" data-target="#' + collapseId + 'Area">Area:</span><span class="custom-value collapse show" id="' + collapseId + 'Area">' + doc.Area + '</span></li>' +
          '<li class="list-group-item"><span  data-toggle="collapse" data-target="#' + collapseId + 'Language">Language:</span><span class="custom-value collapse show" id="' + collapseId + 'Language">' + doc.Language + '</span></li>' +
          '<li class="list-group-item"><span  data-toggle="collapse" data-target="#' + collapseId + 'TopTopics">Top Topics:</span><span class="custom-value collapse show" id="' + collapseId + 'TopTopics">' + doc['Top Topics'] + '</span></li>' +
          '<li class="list-group-item"><span  data-toggle="collapse" data-target="#' + collapseId + 'Subcategory">Subcategory:</span><span class="custom-value collapse show" id="' + collapseId + 'Subcategory">' + doc.Subcategory + '</span></li>' +
          '</ul>');
        collapseDiv.append('<a href="' + doc.URL + '" class="btn btn-primary mt-2" target="_blank">Read More</a>');
        cardBody.append(collapseDiv);
        container.append(card);
      });
    }

    // Call the function to populate the cards
    populateCards(data);

    // Filter function
    $('#filterForm').on('input', function() {
      var filterID = $('#filterID').val().toUpperCase();
      var filterPublished = $('#filterPublished').val().toUpperCase();
      var filterCategory = $('#filterCategory').val().toUpperCase();
      var filterArea = $('#filterArea').val().toUpperCase();
      var filterLanguage = $('#filterLanguage').val().toUpperCase();
      var filterTopTopics = $('#filterTopTopics').val().toUpperCase();
      var filterSubcategory = $('#filterSubcategory').val().toUpperCase();

      var filteredData = data.filter(function(doc) {
        return (
          doc.ID.toUpperCase().indexOf(filterID) > -1 &&
          doc.Published.toUpperCase().indexOf(filterPublished) > -1 &&
          doc.Category.toUpperCase().indexOf(filterCategory) > -1 &&
          doc.Area.toUpperCase().indexOf(filterArea) > -1 &&
          doc.Language.toUpperCase().indexOf(filterLanguage) > -1 &&
          doc['Top Topics'].toUpperCase().indexOf(filterTopTopics) > -1 &&
          doc.Subcategory.toUpperCase().indexOf(filterSubcategory) > -1
        );
      });

      populateCards(filteredData);
    });
  </script>
</body>
</html>
{% endblock %}
