/* text */
h4, h5, p{
    color:  #1a1a1a;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0 0 0 0;
}

.form-label, .form-check-label{
    color:  #1a1a1a;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 2px 2px 2px 25px;
}

p{
    margin-bottom: 0;
}

p.text-descr, label.text-descr{
    font-size: 16px;
    color:  #747474;
}

/* navbar */ 
a.navbar-brand{
    font-size: 25px;
    font-weight: 500;
    color: #1a1a1a;
}

.nav-pills > .nav-item >a {
    color: #1a1a1a;
    font-size: 17px;
    font-weight: 400;
    padding: 5px 15px;
}

.nav-pills > .nav-item >a:hover{
    color: green;
    background-color: rgb(146, 216, 150);
    padding: 5px 15px;
}

nav.navbar.bg-body-tertiary{
    background-color: rgb(126, 202, 130);
}

.navbar > .container-fluid > a{
    padding-left: 5px;
}

/* general */

div.textchunk{
    padding: 20px 20px 20px 20px;
}

hr{
    margin: 7px 0px;
}

hr.inf{
    margin: 7px 0px 7px 25px;
}

body{
    background-color: whitesmoke;
}

/* button */

button.btn-success{
    background: #5C93AC;
    border-color: transparent;
}

button.btn-success:hover{
    background: #91c0d6;
    border-color: transparent;
    color: #396d85;
}

.btn.btn-success.active,
.btn.btn-success:active {
  color: #396d85;
  background-color: #91c0d6;
  border-color: transparent;
  outline: none;
}
.btn.btn-success.active.focus,
.btn.btn-success.active:focus,
.btn.btn-success.active:hover,
.btn.btn-success:active.focus,
.btn.btn-success:active:focus,
.btn.btn-success:active:hover {
  color: #1c4558;
  background-color: #5d8fa7;
  border-color: transparent;
  outline: none;
  box-shadow: none;
}

/* labels */
.text-bg-success{
    background-color: rgb(75, 200, 75);
}

.text-bg-danger{
    background-color: rgb(200, 75, 75);
}

/* switches */
.form-check .form-check-input{
    /*box-shadow: transparent 0 0 0.2rem 0.2rem rgb(146, 216, 150);*/
    border-color: transparent;
    width: 3.3em;
    height: 2em;
    border-radius: 20px;
    display: grid;
    float:right;
    justify-self: center;
    margin: 0 0 0 0;
    border: 0px;
}

.form-check .form-check-input:checked{
    background-color: #72CAC3;
    /*box-shadow: transparent 0 0 0.2rem 0.2rem rgb(146, 216, 150);*/
    border-color: transparent;
}

.form-switch{
    /*
    padding-top:0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;*/
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


/* rest of forms */
.user-input-div, .assum-form-div{
    background-color: #DCF0F6;   
    border-radius: 20px;
}

.form-control{
    border: transparent;
    border-radius: 0;
}

.input-group-text{
    border: transparent;
    border-radius: 0;
}

