.nav-pills > .nav-item >a {
    color: black;
    font-size: 17px;
    font-weight: 400;
    padding: 5px 15px;
}

.nav-pills > .nav-item >a:hover{
    color: green;
    background-color: rgb(146, 216, 150);
    padding: 5px 15px;
}

nav.navbar.bg-body-tertiary{
    background-color: rgb(126, 202, 130);
}

.navbar > .container-fluid > a{
    padding-left: 5px;
}

a.navbar-brand{
    font-size: 25px;
    font-weight: 500;
}

div.textchunk{
    padding: 5px 0px 0px 25px;
}

body{
    background-color: whitesmoke;
}

button.btn-success{
    background: rgb(126, 202, 130);
    border-color: transparent;
    color: black;
}

button.btn-success:hover{
    background: rgb(146, 216, 150);
    border-color: transparent;
    color: green;
}

/*dont think this works*/
button.btn-success:active{
    background: green;
    background-color: brown;
    border-color: transparent;
    color: rgb(146, 216, 150);
}


.form-switch > .form-check-input{
    /*box-shadow: transparent 0 0 0.2rem 0.2rem rgb(146, 216, 150);*/
    border-color: transparent;
    fill: rgb(146, 216, 150);
}

.form-switch > .form-check-input:checked{
    background-color: green;
    /*box-shadow: transparent 0 0 0.2rem 0.2rem rgb(146, 216, 150);*/
    border-color: transparent;
}


