{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between" style="padding:0px; padding-left: 8px; margin-left: 12px; margin-top: 15px; margin-bottom: 50px;">
        <div class="d-flex align-middle">
            <a class="navbar-brand d-inline-block" href="https://multipeat.org/en?domain=https://multipeat.insight-centre.org/map" style="padding:0px">
                <img src="{{url_for('static', filename='multipeat_logo.png')}}" alt="Logo" width="50" height="40" class="align-middle" style="padding-right: 5px;">
            </a>
            <a class="navbar-brand d-inline-block" href="https://aspect-unit.multipeat.insight-centre.org/?domain=https://multipeat.insight-centre.org/map" style="padding:0px">
                <img src="{{url_for('static', filename='ASPECT_logo.png')}}" alt="Logo" width="75" height="40" class="align-middle" style="padding-right: 10px;">
            </a>
            <div class="d-inline-block align-middle">
                <a class="navbar-brand d-inline-block" href="{{url_for('landingpage')}}" style="padding:0px">
                    <h3 class="d-inline-block" style="margin-right: 2px;">Peatland Policy</h3> <h3 style="color: #9fbbcf; font-weight: bold;" class="d-inline-block">Portal</h3>
                    <p class="d-block" style="font-size: small; margin-top: -7px;">Advancing capabilities to measure and regenerate wetlands</p>
                </a>
            </div>
        </div>
        <div class="d-inline-flex align-middle justify-self-end" style="margin-right: 0px;">
            <!-- SEARCH BAR
            <div class="d-inline-flex input-group" role="search">
                <span class="input-group-text d-inline-block search-svg-block" style="height:30px; width:30px; padding:0px">
                    <svg height="18" width="18" class="align-middle">
                        <image style="height:18px; width:18px" xlink:href="{{ url_for('static', filename='search.svg') }}"></image>
                    </svg>
                </span>
                <input class="form-control d-inline-block search-entry" style="height:30px;" type="search" placeholder="KEYWORD SEARCH" id="header-search" aria-label="Search">
            </div>
            -->
            {% if session.get('username') %}
            <div>
                <p style="padding-left: 20px; padding-right:10px;" class="d-inline-flex align-self-middle">  Welcome, {{ username }} </p>
                <a style="padding: 5px; padding-right: 20px;" href="#" onclick="logout()"> 
                    <button class="btn btn-success"> Log out </button>
                </a>
            </div>
            {% else %}
            <a style="padding: 5px; padding-right: 20px;" href="{{ url_for('login') }}">
                <button class="btn btn-success"> Log in </button>
            </a>
            {% endif %}
            <!-- LANGUAGE SELECTION
            <div style="border-right: 1px solid #9fbbcf; height: 25px; padding: 0px 5px; align-self: center;"></div>
            <p class="d-inline-flex align-middle" style="padding-left: 10px;">EN</p>
            <div class="d-inline align-bottom" style="margin-right: 12px;">
                <svg id="language-tog" height="18" width="18" fill="#9fbbcf" style="display: block; padding-left:5px;" class="d-inline align-center">
                    <image style="height:12px; width:12px;" xlink:href="{{ url_for('static', filename='chevron-down.svg') }}"></image>
                </svg>
            </div>
            -->
        </div>
    </div>
    <div style="background-color: #9fbbcf; height: 40px; width: 100%;" class="position-absolute bottom-0">
        <div style="padding-top: 0px;" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('map_page') }}" style="padding: 7px; margin-left: 15px; font-weight: bold;">SITES & POLICIES</a>
                </li>
                <div style="border-right: 1px solid #747474; height: 25px; padding: 0px 10px; align-self: center;"></div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" style="padding: 7px; margin-left: 15px; font-weight: bold;" aria-expanded="false">USE THE TOOLS</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('ffp_tool') }}">Financial Feasibility Tool</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('set_tool') }}">Site Emissions Tool</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('policy') }}">Policy Collection</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('qa_tool') }}">Policy Discovery</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('policy_keywords') }}">Policy Keywords</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('stakeholders') }}">Stakeholder Collection</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('sub_policy') }}">Suggest a Policy</a></li>
                        <li><a class="dropdown-item disabled" href="#">Policy Analyser</a></li>
                    </ul>
                    </li>
                <div style="border-right: 1px solid #747474; height: 25px; padding: 0px 10px; align-self: center;"></div>
                <li class="nav-item">
                    <a class="nav-link on-page" href="{{ url_for('about') }}" style="padding: 7px; margin-left: 15px; font-weight: bold;">ABOUT US</a>
                </li>
                <div style="border-right: 1px solid #747474; height: 25px; padding: 0px 10px; align-self: center;"></div>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container" style="min-height: 700px;">
    <div class="row justify-content-center">
        <div class="col-8">
            <h4 class="text-center" style="padding: 10px; padding-top: 20px;">ABOUT US</h4>
            <div class="row">
                <p class="text-center">
                    This is the home of the Peatland Policy Portal, a collaborative effort of the <a class="textab" href="https://multipeat.org/en?domain=https://multipeat.insight-centre.org/about" target="_blank">EU Life MultiPeat</a> project. The purpose of this public toolkit is to showcase and analyse peatlands, projects, and policies in order to aid the conservation of peatlands and the management of agriculture on peat soils.
                </p>
                <p class="text-center">
                    Let's save the peatlands together!
                </p>
            </div>
            <hr class="pol">
            <div class="row">
                <h4 class="text-center" style="padding: 10px;">OUR DATA</h4>
                <h5 class="text-center" style="padding: 10px;">Map Data</h5>
                <ul class="list-unstyled">
                    <li><h6>International</h6></li>
                    <ul>
                        <!--<li>The <a class="textab" href="https://land.copernicus.eu/en/products/corine-land-cover/clc2018" target="_blank">CORINE Land Cover Dataset 2018</a> comes from the European Union's Copernicus Land Monitoring Service information at https://doi.org/10.2909/71c95a07-e296-44fc-b22b-415f42acfdf0, produced with funding by the European Union. This data was filtered to only include polygons with the land code 412 [peatbog].</li>-->
                        <li>For the boundaries of our project sites, our partners provide the data.</li>
                    </ul>
                    <!--
                    <li><h6>Albania</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Andorra</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    -->
                    <li><h6>Austria</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Belgium</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://www.dov.vlaanderen.be/geonetwork/srv/api/records/eea63bc5-85d4-4860-b9aa-793ef632c688?language=all" target="_blank">Surface Peat Probability Map</a> comes from the Flanders Subsurface Database, administrated by the Flemish Environmental Planning Agency, gathered on 03/10/2024, at https://www.dov.vlaanderen.be. The data was modified from raster to shapefile format. This data is available for display under <a class="texta" href="https://codex.vlaanderen.be/PrintDocument.ashx?id=1020931">this decision</a> by the Flemish government.</li>
                        <li>The <a class="textab" href="http://geodata.wallonie.be/id/b18318eb-5e91-48ae-a6a5-6f49d06b15a1" target="_blank">Marginal and Sensitive Ecological Contexts</a> soil map is published by the Public Service of Wallonia (SPW) (2021-12-03) at http://geodata.wallonie.be/id/b18318eb-5e91-48ae-a6a5-6f49d06b15a1. This data was filtered to only include polygons where the field NOM_NIV2 was equal to "Sol tourbeux et paratourbeux." This data is available for display under <a class="texta" href="https://geoportail.wallonie.be/files/documents/ConditionsSPW/DataSPW-CPU-TypeA.pdf">Special Condition Type A</a>.</li>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>    
                    </ul>
                    <!--
                    <li><h6>Bosnia</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    -->
                    <li><h6>Bulgaria</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Croatia</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Czech</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Denmark</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Estonia</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://geoportaal.maaamet.ee/eng/spatial-data/estonian-topographic-database-p305.html" target="_blank">Estonian Topograhic Database</a> (2022) was created by the Land Board of Estonia. The data was modified, selecting only Code 202 Type 40 (bog pool), and selecting Code 306 types 10 (swamp/mire), 20 (bog), and 30 (quaking bog). This data is available under the Estonian <a class="texta" href="https://geoportaal.maaamet.ee/docs/Avaandmed/Licence-of-open-data-of-Estonian-Land-Board.pdf">Land Board Open Data License</a>.</li>
                    </ul>
                    <li><h6>Finland</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://www.maanmittauslaitos.fi/en/maps-and-spatial-data/datasets-and-interfaces/product-descriptions/topographic-database" target="_blank">Finnish Topographic Database</a> from 2017-03-08 was created by the National Land Survey of Finland. The data was modified, selecting only the "Suo" shapefile from the geopackage. This data is available under a <a class="texta" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons License</a>.</li>
                    </ul>
                    <li><h6>France</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Germany</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://doi.org/10.3220/DATA20230510130443-0" target="_blank">Updated Map of Organic Soils in Germany</a> was created by the Moor Research Group at the Thünen Institute for Agricultural Climate Protection. The data was modified to exclude polygons which contain fewer than 10cm of peat or are covered by mineral substrates. This data is available under a <a class="texta" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons License</a>.</li>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Greece</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Hungary</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <!--
                    <li><h6>Iceland</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    -->
                    <li><h6>Ireland</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://jcresearch.wixsite.com/johnconnolly/downloads" target="_blank">Derived Irish Peat Map</a>'s creation and details are documented in: Connolly, J. and Holden, N. M. (2009) Mapping peat soils in Ireland; updating the Derived Irish Peat Map. Irish Geography, 3, 343-352.</li>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>                    
                    </ul>
                    <li><h6>Italy</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Latvia</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <!--
                    <li><h6>Liechtenstein</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    -->
                    <li><h6>Lithuania</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Luxembourg</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <!--
                    <li><h6>Macedonia</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Montenegro</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    -->
                    <li><h6>Netherlands</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://www.nationaalgeoregister.nl/geonetwork/srv/api/records/ed960299-a147-4c1a-bc57-41ff83a2264f?language=all" target="_blank">Soil Map of the Netherlands</a> was originally created and published by Wageningen Environmental Research (2023), accessed on 30-07-2024 at https://www.pdok.nl/. The data was filtered to only display peat soils. This data is available under a <a class="texta" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons License</a>.</li>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>                    
                    </ul>
                    <li><h6>Poland</h6></li>
                    <ul>
                        <li>The <a class="textab" href="http://alkfens.kp.org.pl/ogolnopolska-baza-mechowisk/" target="_blank">National Alkaline Peatland Database</a> of Poland comes from Klubu Przyrodników's 2011 alkaline fen conservation project conducted by the Naturalists' Club under the European Regional Development Fund.</li>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>                    
                        <li>The Polish Peatland Map was created by the General Directorate for Environmental Protection “Wetland Strategy.”</li>
                    </ul>
                    <li><h6>Portugal</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Romania</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <!--
                    <li><h6>Serbia</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    -->
                    <li><h6>Slovakia</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Slovenia</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Spain</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <li><h6>Sweden</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    <!--
                    <li><h6>Switzerland</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                    </ul>
                    -->
                    <li><h6>United Kingdom</h6></li>
                    <ul>
                        <li>The <a class="textab" href="https://zenodo.org/records/14883520" target ="_blank">European Wetland Map</a> comes from the research and innovation projects "ALFAwetlands- Wetland restoration for the future", funded by the Horizon Europe Framework Program of the European Union. The data was filtered to only include peatlands. </li>
                        <li>England's <a class="textab" href="https://naturalengland-defra.opendata.arcgis.com/datasets/Defra::england-peat-map-peaty-soil-extent-1/about" target ="_blank">Peaty Soil Extent</a> comes from the <a class="textab" href="https://environment.data.gov.uk/dataset/3c72669a-1331-4930-a12d-b4f8032aa5cd" target ="_blank">England Peat Map</a> published by Natural England. The data is available under an <a class="textab" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target ="_blank">Open Government License</a></li>
                        <li>Scotland's <a class="textab" href="https://spatialdata.gov.scot/geonetwork/srv/api/records/51b36efb-3521-4243-9bb0-93f8a7a60a71?language=all" target ="_blank">Carbon and Peatland 2016 v2 Map</a> was published by NatureScot. The data was filtered by only including entries whose PRIMARY_LA field included "peat." The data is available under a <a class="textab" href="https://www.nationalarchives.gov.uk/doc/non-commercial-government-licence/version/2/" target ="_blank">Non-Commercial Government Licence</a></li>
                        <li>Wales' <a class="textab" href="https://datamap.gov.wales/layers/geonode:peatlands_of_wales_scg8" target ="_blank">Peatlands of Wales Map</a> published by the Welsh Government. The data is available under an <a class="textab" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target ="_blank">Open Government Licence for Public Sector Information (OGL)</a></li>
                    </ul>
                </ul>
                <h5 class="text-center" style="padding: 10px;">Policy Data</h5>
                <p class="text-center">
                    Our policy data is provided by both our partners and our own policy analysts.
                    We are also in the process of implementing a machine learning pipeline to aid in our gathering and knowledge-extraction of policies.
                </p>
            </div>
            <hr class="pol">
        </div>
    </div>
    <div class="col-auto" style="padding-bottom: 20px;">
        <h4 class="text-center" style="padding: 10px; padding-bottom: 20px;">OUR PARTNERS</h4>
        <div class="col-10 d-flex flex-wrap justify-content-around align-items-center" style="justify-self: center;">
            <a href="https://cinea.ec.europa.eu/programmes/life_en" target="_blank">
                <img src="{{url_for('static', filename='EU_Life_logo.png')}}" width="203" height="45">
            </a>
            <a href="https://www.nabu.de/" target="_blank">
                <img src="{{url_for('static', filename='NABU_logo.svg')}}" width="32" height="50" style="margin: 5px;">
            </a>
            <a href="https://kp.org.pl/pl/" target="_blank">
                <img src="{{url_for('static', filename='KP_logo.png')}}" width="240" height="45">
            </a>
            <a href="https://www.universityofgalway.ie/" target="_blank">
                <img src="{{url_for('static', filename='UG.png')}}" width="104" height="45">
            </a>
            <a href="https://www.eurosite.org/" target="_blank">
                <img src="{{url_for('static', filename='EUROSITE_logo.jpg')}}" width="50" height="50" style="margin: 5px;">
            </a>
            <a href="https://otop.org.pl/" target="_blank">
                <img src="{{url_for('static', filename='OTOP_logo.jpg')}}" width="109" height="45">
            </a>
            <a href="https://www.natuurmonumenten.nl/" target="_blank">
                <img src="{{url_for('static', filename='Natuurmonumenten_logo.png')}}" width="231" height="45">
            </a>
            <a href="https://www.natuurpunt.be/" target="_blank">
                <img src="{{url_for('static', filename='Natuurpunt_logo.png')}}" width="50" height="50" style="margin: 5px;">
            </a>
            <a href="https://www.gov.pl/web/nfosigw-en" target="_blank">
                <img src="{{url_for('static', filename='NFOSIGW_logo.jpg')}}" width="130" height="45">
            </a>
            <a href="https://ecorestorationfund.org/" target="_blank">
                <img src="{{url_for('static', filename='EcoRestorationFund_logo.png')}}" width="109" height="45" style="margin: 5px;">
            </a>
        </div>
    </div>
</div>
{% endblock %}
