{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container" style="min-height: 700px;">
    <div class="row justify-content-center">
        <div class="col-8">
            <h4 class="text-center" style="padding: 10px; padding-top: 20px;">ABOUT US</h4>
            <div class="row">
                <p class="text-center">
                    This is the home of the Peatland Policy Portal, a collaborative effort of the <a class="textab" href="https://multipeat.org/en?domain=https://multipeat.insight-centre.org/about" target="_blank">EU Life MultiPeat</a> project. The purpose of this public toolkit is to showcase and analyse peatlands, projects, and policies in order to aid the conservation of peatlands and the management of agriculture on peat soils.
                </p>
                <p class="text-center">
                    Let's save the peatlands together!
                </p>
            </div>
            <hr class="pol">
        </div>
    </div>
    <div class="col-auto" style="padding-bottom: 20px;">
        <h4 class="text-center" style="padding: 10px; padding-bottom: 20px;">OUR PARTNERS</h4>
        <div class="col-10 d-flex flex-wrap justify-content-around align-items-center" style="justify-self: center;">
            <a href="https://cinea.ec.europa.eu/programmes/life_en" target="_blank">
                <img src="{{url_for('static', filename='EU_Life_logo.png')}}" width="203" height="45">
            </a>
            <a href="https://www.nabu.de/" target="_blank">
                <img src="{{url_for('static', filename='NABU_logo.svg')}}" width="32" height="50" style="margin: 5px;">
            </a>
            <a href="https://kp.org.pl/pl/" target="_blank">
                <img src="{{url_for('static', filename='KP_logo.png')}}" width="240" height="45">
            </a>
            <a href="https://www.universityofgalway.ie/" target="_blank">
                <img src="{{url_for('static', filename='UG.png')}}" width="104" height="45">
            </a>
            <a href="https://www.eurosite.org/" target="_blank">
                <img src="{{url_for('static', filename='EUROSITE_logo.jpg')}}" width="50" height="50" style="margin: 5px;">
            </a>
            <a href="https://otop.org.pl/" target="_blank">
                <img src="{{url_for('static', filename='OTOP_logo.jpg')}}" width="109" height="45">
            </a>
            <a href="https://www.natuurmonumenten.nl/" target="_blank">
                <img src="{{url_for('static', filename='Natuurmonumenten_logo.png')}}" width="231" height="45">
            </a>
            <a href="https://www.natuurpunt.be/" target="_blank">
                <img src="{{url_for('static', filename='Natuurpunt_logo.png')}}" width="50" height="50" style="margin: 5px;">
            </a>
            <a href="https://www.gov.pl/web/nfosigw-en" target="_blank">
                <img src="{{url_for('static', filename='NFOSIGW_logo.jpg')}}" width="130" height="45">
            </a>
            <a href="https://ecorestorationfund.org/" target="_blank">
                <img src="{{url_for('static', filename='EcoRestorationFund_logo.png')}}" width="109" height="45" style="margin: 5px;">
            </a>
        </div>
    </div>
</div>
{% endblock %}
