<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% block head %}
        {% if title %}
        <title>{% block title %}{% endblock %} - FinFeasPricing</title>
        {% else %}
        <title>FinFeasPricing</title>
        {% endif %}
        {% endblock %}
    </head>
    <body>
        <ul>
            <li style="float: left;"><h2>Financial Feasability and Pricing Model</h2></li> 
            <nav>
            <li style="float: left;"><a href="{{ url_for('homepage') }}">Home</a></li>
            <li style="float: left;"><a href="{{ url_for('about') }}">About</a></li>
            </nav>
        </ul>
        <hr>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>