<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block links %}
            <!--bootstrap-->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
            <!-- own stylesheet -->
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
            <!--ol stylesheet-->
            <link href="https://cdn.jsdelivr.net/npm/ol@8.1.0/ol.min.css" rel="stylesheet">
            <!--jquery script-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" async></script>
        {% endblock %}
        {% block scripts %}
            <!--It's okay to put scripts in head now as long as it includes async or defer attributes-->
            <!--execute jquery-->
            <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
            <!--jquery validation-->
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js" async></script>
            <!--bootstrap and popper-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
            <!--ol js-->
            <!--<script type="module" src="https://cdn.jsdelivr.net/npm/ol@8.1.0/index.min.js"></script>-->
            <!--ol skypack-->
            <script type="module">import ol from 'https://cdn.skypack.dev/ol';</script>
            <!--<script type="module" src="https://cdn.skypack.dev/ol"></script>-->
            <!--dataframe javascript-->
            <script src="https://cdn.jsdelivr.net/npm/danfojs@1.1.2/lib/bundle.min.js"></script>
            <!--local script-->
            <script src="{{url_for('static', filename='scripts/toggle_display.js')}}" async></script>
            <script src="{{url_for('static', filename='scripts/calc_ffp.js')}}" async></script>
            <script src="{{url_for('static', filename='scripts/calc_set.js')}}" async></script>
        {% endblock %}
        {% block head %}
            {% if title %}
            <title>{% block title %}{% endblock %} - MultiPeat Toolkit</title>
            {% else %}
            <title>Multipeat Toolkit</title>
            {% endif %}
        {% endblock %}
    </head>
    <body style="padding-bottom: 10px;">
        <div id="page-container">
            <div id="content-wrap">
                <div id="navbar">{% block navbar %}{% endblock %}</div>
                <div id="content">{% block content %}{% endblock %}</div>
            </div>
            <div id="footer">{% block footer %}{% endblock %}</div>
        </div>
    </body>
</html>