{% extends "base.html" %}

{% block title %}Feedback{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="card border-0 shadow-sm">
    <div class="card-body">
      <h2 class="card-title text-center fw-bold mb-4">Feedback</h2>
      <p class="text-center text-muted mb-5">
        If you have any feedback about the content on the website, the site design, or general questions or feedback, please get in touch via one of the following options.
      </p>
      <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        <div class="col">
          <div class="card h-100 text-center border-0 bg-light shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('sub_policy') }}">
                <img src="{{url_for('static', filename='images/feedback_vis.png')}}"
                     alt="Project Collection" class="img-fluid rounded mb-3 menu-img">
              </a>
              <h5 class="fw-semibold">Policy Suggestion/Correction</h5>
              <p class="text-muted small">
                If we are missing a policy or have correct information displayed, please let us know.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-center border-0 bg-light shadow-sm">
            <div class="card-body">
              <a href="{{ url_for('sub_policy') }}">
                <img src="{{url_for('static', filename='images/projects_vis.png')}}"
                     alt="Project Map" class="img-fluid rounded mb-3 menu-img">
              </a>
              <h5 class="fw-semibold">General Feedback</h5>
              <p class="text-muted small">
                Share feedback on the portal.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-center border-0 bg-light shadow-sm">
            <div class="card-body">
              <a href="https://multipeat.org/en/contact-0"> <!--"{{ url_for('contact') }}"-->
                <img src="{{ url_for('static', filename='multipeat_logo.png') }}"
                    alt="Best Practise" class="img-fluid rounded mb-3 menu-img">
              </a>
                <h5 class="fw-semibold">Contact Us</h5>
              <p class="text-muted small">
                Reach out regarding additional questions, feedback, or requests.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}