{% extends "base.html" %}

{% block title %}FFP Tool{% endblock %}
{% block content %}
<div class="container" id="input-form-div">
    <p>Welcome to the Financial Feasibility and Pricing Tool.</p>
    <p>With this tool, you have the ability to calculate the expected financial feasibility and pricing of a rewetting scheme.</p>

    <h3>User Input</h3>

    <p>Default settings are populated into the below form.</p>
    <p>Change values if needed then press submit to update.</p>
    <form action="/ffptool" method="POST" id="input-form" enctype=multipart/form-data>
        <!--{% if uform.errors %}
        {{ uform.errors }}
        {% endif %}-->
        
        <!--hidden_tag and csrf_token-->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <label for="num_yrs">Period of Years:</label>
        <input type="number" id="num_yrs" name="num_yrs" value="{{uform['num_yrs']}}">
        <br>
        <label for="cred_p_hect_p_yr">Credits per Hectare per Year:</label>
        <input type="number" id="cred_p_hect_p_yr" name="cred_p_hect_p_yr" value="{{uform['cred_p_hect_p_yr']}}">
        <br>
        <label for="hect_restored">Hectares Restored:</label>
        <input type="number" id="hect_restored" name="hect_restored" value="{{uform['hect_restored']}}">
        <br>
        <label for="invest_amt">Investment Amount:</label>
        <input type="number" id="invest_amt" name="invest_amt" value="{{uform['invest_amt']}}">
        <br>
        <label for="start_yr">Start Year:</label>
        <input type="number" id="start_yr" name="start_yr" value="{{uform['start_yr']}}">
        <br>
        <label for="price_p_cred">Price per Credit:</label>
        <input type="number" id="price_p_cred" name="price_p_cred" value="{{uform['price_p_cred']}}">
        <br>
        {% if uform['invest_costs_inc'] %}
            <label for="invest_costs_inc">Include Investment Costs:</label>
            <input type="checkbox" id="invest_costs_inc" name="invest_costs_inc" value="{{uform['invest_costs_inc']}}" checked>
            <br>
        {% else %}
            <label for="invest_costs_inc">Include Investment Costs:</label>
            <input type="checkbox" id="invest_costs_inc" name="invest_costs_inc" value="{{uform['invest_costs_inc']}}">
            <br>
        {% endif %}
        {% if uform['reg_costs_inc'] %}
            <label for="reg_costs_inc">Include Registration Costs:</label>
            <input type="checkbox" id="reg_costs_inc" name="reg_costs_inc" value="{{uform['reg_costs_inc']}}" checked>
            <br>
        {% else %}
            <label for="reg_costs_inc">Include Registration Costs:</label>
            <input type="checkbox" id="reg_costs_inc" name="reg_costs_inc" value="{{uform['reg_costs_inc']}}">
            <br>
        {% endif %}
        <!--<input type="reset" name="reset_usrinpt" id="reset_usrinpt" value="Reset to Defaults">-->
        <input type="submit" name="submit_usrinpt" id="submit_usrinpt" value="Update">
    </form>
</div>

<label for="assum_disp_btn">To Edit Assumptions: </label>
<button onclick="toggle_display()" id="assum_disp_btn">Assumptions</button>

<div class="content_section" id="assum-form-div" style="display:none">
    <h3>Model Assumptions</h3>

    <p>Default settings are populated into the below form.</p>
    <p>Change values if needed then press submit to update.</p>
    <form action="/ffptool" method="POST" id="assum-form" enctype=multipart/form-data>
        <!--{% if aform.errors %}
        {{ aform.errors }}
        {% endif %}-->
        <!--hidden_tag and csrf_token-->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <label for="avg_cred_p_hect_p_yr">Credits per Hectare per Year:</label>
        <input type="number" id="avg_cred_p_hect_p_yr" name="avg_cred_p_hect_p_yr" value="{{aform['avg_cred_p_hect_p_yr']}}">
        <br>
        <label for="nom_int_rt">Nominal Interest Rate:</label>
        <input type="number" id="nom_int_rt" name="nom_int_rt" value="{{aform['nom_int_rt']}}">
        <br>
        <label for="inflation_rt">Inflation Rate:</label>
        <input type="number" id="inflation_rt" name="inflation_rt" value="{{aform['inflation_rt']}}">
        <br>
        <label for="reg_acct_open_fee">Registry Account Opening Fee:</label>
        <input type="number" id="reg_acct_open_fee" name="reg_acct_open_fee" value="{{aform['reg_acct_open_fee']}}">
        <br>
        <label for="reg_listing_cost_p_credit">Registry Listing Cost per Credit:</label>
        <input type="number" id="reg_listing_cost_p_credit" name="reg_listing_cost_p_credit" value="{{aform['reg_listing_cost_p_credit']}}">
        <br>
        <label for="reg_conv_cost_fee_p_inspect">Registry Conversion Cost Fee per Inspection:</label>
        <input type="number" id="reg_conv_cost_fee_p_inspect" name="reg_conv_cost_fee_p_inspect" value="{{aform['reg_conv_cost_fee_p_inspect']}}">
        <br>
        <label for="reg_conv_cost_p_cred_abv_min_thresh_of_credits">Registry Conversion Cost per Credit above Minimum Threshold of Credits:</label>
        <input type="number" id="reg_conv_cost_p_cred_abv_min_thresh_of_credits" name="reg_conv_cost_p_cred_abv_min_thresh_of_credits" value="{{aform['reg_conv_cost_p_cred_abv_min_thresh_of_credits']}}">
        <br>
        <label for="reg_levy_cost_p_cred">Registry Levy Cost per Credit:</label>
        <input type="number" id="reg_levy_cost_p_cred" name="reg_levy_cost_p_cred" value="{{aform['reg_levy_cost_p_cred']}}">
        <br>
        <label for="valid_and_verif_app_cost_p_inspect">Validation and Verification Application Cost per Inspection:</label>
        <input type="number" id="valid_and_verif_app_cost_p_inspect" name="valid_and_verif_app_cost_p_inspect" value="{{aform['valid_and_verif_app_cost_p_inspect']}}">
        <br>
        <label for="valid_and_verif_stmnt_cost_p_inspect">Validation and Verification Statement Cost per Inspection:</label>
        <input type="number" id="valid_and_verif_stmnt_cost_p_inspect" name="valid_and_verif_stmnt_cost_p_inspect" value="{{aform['valid_and_verif_stmnt_cost_p_inspect']}}">
        <br>
        <label for="valid_and_verif_inspctr_travel_cost_p_inspect">Validation and Verification Inspector Travel Costs per Inspection:</label>
        <input type="number" id="valid_and_verif_inspctr_travel_cost_p_inspect" name="valid_and_verif_inspctr_travel_cost_p_inspect" value="{{aform['valid_and_verif_inspctr_travel_cost_p_inspect']}}">
        <br>
        <label for="inspect_cycle_len">Inspection Cycle Length:</label>
        <input type="number" id="inspect_cycle_len" name="inspect_cycle_len" value="{{aform['inspect_cycle_len']}}">
        <br>
        <label for="min_thresh_of_credits">Minimum Threshold of Credits:</label>
        <input type="number" id="min_thresh_of_credits" name="min_thresh_of_credits" value="{{aform['min_thresh_of_credits']}}">
        <br>
        <label for="interest_rt">Interest Rate:</label>
        <input type="number" id="interest_rt" name="interest_rt" value="{{aform['interest_rt']}}">
        <br>
        <label for="payments_p_yr">Payments per Year:</label>
        <input type="number" id="payments_p_yr" name="payments_p_yr" value="{{aform['payments_p_yr']}}">
        <br>
        <!--<input type="reset" name="reset_assum" id="reset_assum" value="Reset to Defaults">-->
        <input type="submit" name="submit_assum" id="submit_assum" value="Update">
    </form>
</div>

<div id="results">
    <h3>Results</h3>
    <p>Profitable?: {{results_dict["profitable"]}}</p>
    <p>Profit per credit: {{results_dict["profit_per_credit"]}}</p>
    <p>Profit per hectare per year: {{results_dict["profit_per_hectare_per_year"]}}</p>
    <p>Beginning Value: {{results_dict["beginning_value"]}}</p>
    <p>Ending Value: {{results_dict["ending_value_undisc"]}}</p>
    <p>Rate of Return: {{results_dict["rate_of_return"]}}</p>
</div>

{% endblock %}