{% extends "base.html" %}

{% block title %}Policy Keywords{% endblock %}

{% block content %}

<div class="container-sm">
    <h3 class="text-center" style="padding: 10px;">Peatland Policy Keywords</h3>
    <p>
        On this page you can view the keywords used to identify relevant policies in each language.
        We are continually adding keywords and languages, and seek expert input to identify all keyword variants across different languages.
        In the future, we plan to offer insight into our policy collection in relation to these keywords.
    </p>

    <div class="row justify-content-center">
        <div class="col-4" style="padding-top: 10px; padding-bottom: 10px;">
            <select class="validate form-select" id="kwd-langs" name="kwd-langs" onchange="get_kwds()">
                <option selected value="">Select language</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center" style="min-height: 450px;">
        <div class="col-4" style="padding-top: 10px; padding-bottom: 10px;">
            <ul id="kwd-pop" class="list-group"></ul>
        </div>
    </div>
</div>

<script>
    // populates language selection with what is in json/on page
    var xhttp;
    xhttp =  new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
        var obj = JSON.parse(this.responseText)
        Object.keys(obj).forEach(ky =>{
            const element = `<option value="${ky}">${ky}</option>`;
            const lang_sel = $(`#kwd-langs`);
            lang_sel.append(element);
        });
        }
    };
    xhttp.open("GET", "/getkwds", true);
    xhttp.send();
</script>

<script>
    // populates language selection with what is in json/on page
    function get_kwds(){
        // get what language is selected
        var e = document.getElementById("kwd-langs").value;
        // clears previously added keywords
        var lang_sel = $(`#kwd-pop`);
        lang_sel.empty();
        var xhttp;
        xhttp =  new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
            var obj = JSON.parse(this.responseText);
            obj[e].forEach(ky =>{
                const element = `<li class="list-group-item">${ky}</li>`;
                lang_sel.append(element);
            });
            }
        };
        xhttp.open("GET", "/getkwds", true);
        xhttp.send();}
</script>
{% endblock %}
