{% extends "base.html" %}

{% block title %}Map{% endblock %}

{% block navbar %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="{{ url_for('homepage') }}">
        <img src="{{url_for('static', filename='multipeat_logo.png')}}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        MultiPeat Toolkit
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('homepage') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link on-page" href="{{ url_for('map_page') }}">Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ffp_tool') }}">FFP Tool</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('set_tool') }}">SET Tool</a>    
        </li>
    </ul>
</div>
</nav>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <p class="navbar-brand">Peatland Map</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#"><Layers class="badge rounded-pill text-layer-pill" id="layers">Layers</span><span class="sr-only"></span></a>
            </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" id="bogInput" aria-label="Search">
          <button class="btn btn-outline-success" type="button" id="search">Search</button>
        </form>
      </div>
    </div>
</nav>


<div>
    <div id="map"></div>
</div>

<!-- Draggable DIV -->
<div id="draggable">
    <div id="draggable-header"><div id="draggable-title">Title</div><a href="#" id="draggable-closer" class="ol-popup-closer"></a></div>
    <div id="draggable-content">
        <p>Move</p>
        <p>this</p>
        <p>DIV</p>
    </div>

</div>
<!--Popup div-->
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content">
        <div id="bog-info"></div>
        <div id="ipol-info"></div>
        <div id="IE-info"></div>
        <div id="no-features"></div>
    </div>
</div>

<script type="module" src="{{url_for('static', filename='scripts/Map.js')}}" ></script>
<script type="module" src="{{url_for('static', filename='scripts/customFunctions.js')}}" ></script>
<script type="module" src="{{url_for('static', filename='scripts/Identify.js')}}" ></script>
<script type="module" src="{{url_for('static', filename='scripts/Layers.js')}}" ></script>
<script type="module" src="{{url_for('static', filename='scripts/Search.js')}}" ></script>
{% endblock %}