{% extends "base.html" %}

{% block title %}Policy Collection{% endblock %}

{% block content %}

<div class="container">
    <h4 class="text-center" style="padding:10px">POLICY COLLECTION</h4>
    <p class="text-descr" style="padding-bottom:10px">
        On this page you can explore our collection of peatland-related policies. 
        At the moment, you can filter the policies by governance level and category.
        We will be adding further polices and querying methods as we grow our portal.
    </p>

    <div class="row">
        <ul>
            <p>By level:</p>
            <a href="/policy/level=Global"><span class="badge rounded-pill text-bg-warning">Global</span></a>
            <a href="/policy/level=European"><span class="badge rounded-pill text-bg-warning">EU</span></a>
            <a href="/policy/level=National"><span class="badge rounded-pill text-bg-warning">National</span></a>
            <a href="/policy/level=Regional"><span class="badge rounded-pill text-bg-warning">Regional</span></a>
            <a href="/policy/level=Local"><span class="badge rounded-pill text-bg-warning">Local</span></a>
        </ul>
    </div>

    <div class="row">
        <div class="col-3">
            <p>By country:</p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select country
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/policy/country=Ireland">Ireland</a></li>
                  <li><a class="dropdown-item" href="/policy/country=Eesti">Estonia</a></li>
                  <li><a class="dropdown-item" href="/policy/country=Nederland">Netherlands</a></li>
                  <li><a class="dropdown-item" href="/policy/country=Bulgaria">Bulgaria</a></li>
                  <li><a class="dropdown-item" href="/policy/country=Italia">Italy</a></li>
                  <li><a class="dropdown-item" href="/policy/country=United%20Kingdom">United Kingdom</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <ul>
            <p>By category:</p>
            <span class="badge rounded-pill bio-class-pill">Biodiversity</span>
            <span class="badge rounded-pill clm-class-pill">Climate Action</span>
            <span class="badge rounded-pill enr-class-pill">Energy</span>
            <span class="badge rounded-pill comm-class-pill">Community / Culture</span>
            <span class="badge rounded-pill env-class-pill">Environmental Quality</span>
            <span class="badge rounded-pill land-class-pill">Land Use / Agriculture</span>
            <span class="badge rounded-pill econ-class-pill">Economy</span>
            <span class="badge rounded-pill res-class-pill">Research and Applied Sciences</span>
        </ul>
    </div>
    <div class="accordion" id="pol-coll-div">
        {% if heading %}
        <h3 style="text-align: center;margin: 0 auto; padding: 10px;">{{ heading }} Policies</h3>
        {% else %}
        <h3 style="text-align: center;margin: 0 auto; padding: 10px;">{{ data[0][4] }} Policies</h3>
        {% endif %}
        {% for policy in data %}
        <div class="accordion-item">
            <div class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container">
                        <h4 class="policy-title">{{ policy[0] }} </h4> <!-- Name -->
                        <p class="policy-year">Year: {{ policy[1] }}</p>  <!-- Level -->
                        <p class="policy-detail">{{ policy[3] }}</p>
                        <a href="{{ policy[5] }}" class="download-btn" style=>Link</a>
                    </div>
                </button>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#pol-coll-div">
                <div class="accordion-body">
                    <div class="full-policy-detail"><p>{{ policy[2] }}</p></div>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--<script src="{{ url_for('static', filename='scripts/country_script.js') }}"></script>--> 
{% endblock %}
