{% extends "base.html" %}

{% block title %}Policy Collection{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center" style="padding:10px">Policy Collection</h3>
    <p style="padding-bottom:10px">
        On this page you can explore our collection of peatland-related policies. 
        At the moment, you can filter the policies by governance level and category.
        We will be adding further polices and querying methods as we grow our portal.
    </p>

    <div class="row">
        <ul>
            <p>By level:</p>
            <a href="{{ url_for('global_policy') }}"><span class="badge rounded-pill text-bg-warning">Global</span></a>
            <a href="{{ url_for('eu_policy') }}"><span class="badge rounded-pill text-bg-warning">EU</span></a>
            <a href="{{ url_for('national_policy') }}"><span class="badge rounded-pill text-bg-warning">National</span></a>
            <a href="{{ url_for('regional_policy') }}"><span class="badge rounded-pill text-bg-warning">Regional</span></a>
            <a href="{{ url_for('local_policy') }}"><span class="badge rounded-pill text-bg-warning">Local</span></a>
        </ul>
    </div>

    <div class="row">
        <ul>
            <p>By country:</p>
            <select class="form-select">
                <option selected>Select country</option>
                <option><a href="#" data-country="Ireland" style="color: black;">Ireland</a></option>
                <option><a href="#" data-country="Eesti" style="color: black;">Estonia</a></option>
                <option><a href="#" data-country="Nederland" style="color: black;">Netherlands</a></option>
                <option><a href="#" data-country="Bulgaria" style="color: black;">Bulgaria</a></option>
                <option><a href="#" data-country="Italia" style="color: black;">Italy</a></option>
                <option><a href="#" data-country="United Kingdom" style="color: black;">United Kingdom</a></option>
            </select>
        </ul>
    </div>

    <div class="row">
        <ul>
            <p>By category:</p>
            <span class="badge rounded-pill bio-class-pill">Biodiversity</span>
            <span class="badge rounded-pill clm-class-pill">Climate Action</span>
            <span class="badge rounded-pill enr-class-pill">Energy</span>
            <span class="badge rounded-pill comm-class-pill">Community / Culture</span>
            <span class="badge rounded-pill env-class-pill">Environmental Quality</span>
            <span class="badge rounded-pill land-class-pill">Land Use / Agriculture</span>
            <span class="badge rounded-pill econ-class-pill">Economy</span>
            <span class="badge rounded-pill res-class-pill">Research and Applied Sciences</span>
        </ul>
    </div>
    <div class="accordion" id="pol-coll-div">
        {% if heading %}
        <h3 style="text-align: center;margin: 0 auto; padding: 10px;">{{ heading }} Policies</h3>
        {% else %}
        <h3 style="text-align: center;margin: 0 auto; padding: 10px;">{{ data[0][4] }} Policies</h3>
        {% endif %}
        {% for policy in data %}
        <div class="accordion-item">
            <div class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="container">
                        <h3 class="policy-title">{{ policy[0] }} </h3> <!-- Name -->
                        <p class="policy-year">Year: {{ policy[1] }}</p>  <!-- Level -->
                        <p class="policy-detail">{{ policy[3] }}</p>
                        <a href="{{ policy[5] }}" class="download-btn" style=>Link</a>
                    </div>
                </button>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#pol-coll-div">
                <div class="accordion-body">
                    <div class="full-policy-detail"><p>{{ policy[2] }}</p></div>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--<script src="{{ url_for('static', filename='scripts/country_script.js') }}"></script>--> 
{% endblock %}
