{% extends "base.html" %}

{% block title %}Policy Info{% endblock %}

{% block content %}

<div class="container">
    <div class="col-10">
        <h4 class="text-center" style="padding: 10px;">Policy Data Explainer</h4>
        <div>
            <h5>Policy inclusion criteria</h5>
            <p>Policies to include in the Peatland Policy Portal (PPP) must adhere to the following rules:</p>
            <ul>
                <li><p>All policies in the PPP database should ideally refer to "Peat", "Peatlands" or "Wetlands" or translations or synonyms of these words in the native language of the policy; however, a case could be made for those policies that should but don't contain these words if they potentially have an impact on peatlands.</p></li>
                <li><p>Policies must be democratically approved by one of the following: the United Nations, the European Union, a government of an EU member state or an associated country within Europe, including officially recognised elected national, regional and local governments. This includes policies that are approved by individual conventions, ministries, departments or agencies that have been democratically mandated to act on behalf of the government.</p></li>
                <li><p>Policies must be in the form of a written document.</p></li>
                <li><p>A policy relates to a set of objectives derived from the goals of government to be used for forward-looking decision-making by governments, government departments, or government agencies.</p></li>
                <li><p>Documents that are used primarily by the legal system to enforce the law should not be included in any list of policies on the portal. Such documents relate to the enforcement of regulations and not to decision-making.</p></li>
                <li><p>Policies on the PPP should be categorised by one or more of the following categories: (1) Energy, (2) Climate Action, (3) Community and Culture, (4) Economy, (5) Environmental Quality: Water, Soil and Air, (6) Biodiversity, (7) Land Use and Agriculture, (8) Research and Applied Sciences. </p></li>
            </ul>
        </div>
        <div>
            <h5>Policy collection method explainer</h5>
            <div>
                <p style="font-size: large;">Phase I (up to February 2025)</p>
                <p>Main methods:</p>
                <ul>
                    <li><p>Google search "peatland" or broad categories such as "biodiversity" + country name</p></li>
                    <li><p>Partner workshop</p></li>
                </ul>
                <p>Results:</p>
                <ul>
                    <li><p>About 100 policies</p></li>
                </ul>
            </div>
            <div>
                <p style="font-size: large;">Phase II (March-June 2025)</p>
                <p>Main methods:</p>
                <ul>
                    <li><p>We cleaned the previous 100-ish policy entries by completing the policy information in Odoo. In this process, we developed a methodology for the next phase of policy collection, which is centred around the national adaptation of EU-level directives, regulations, frameworks, strategies, and so on.</p></li>
                    <li><p>We conducted a keyword research ("peatland" and "peat" especially) on <strong>EUR-Lex</strong>, with additional input from reading various policy reports (Wet Horizon, etc) to understand how these EU items are related to each other. After <strong>consulting subject experts</strong> (Jenny Merten of NABU and Maria Nolan of Liverpool John Moores, especially) and internal discussions, we narrowed down the list to 19 EU laws and strategies that are core to peatland conservation and peat or peatland use (full list at the end).</p></li>
                    <li><p>In reality, these 19 items became <strong>19 sets of keywords</strong> for Phase II policy collection. These keywords are:</p></li>
                    <ul>
                        <li><p>"Habitats directive", "Birds Directive", "Natura 2000", "Biodiversity strategy", "nature restoration regulation" or "nature restoration law", "soil strategy", "Forestry Strategy", "Farm to Fork" or "Food System", "Common Agricultural Policy", "Land use, land use change, and forestry" or "LULUCF", "Environmental impact assessment" or "EIA", "Carbon removals certification" or "CRCF", "Greenhouse gas emission" or "EU ETS", "methane strategy", "water framework", "taxonomy regulation", "renewable energy" or "RED III", "National energy and climate plans" or "NECP", and "Climate-ADAPT".</p></li>
                    </ul>
                    <li><p>Though individual researchers' search processes may vary, the general idea is to use these keywords to identify the core policies that may touch on peatland. When we identify a policy, we then search "peat" or "peatland" (and, if both fail, we search for "wetland") within the document to determine the policy's eligibility. This is to say, except for a handful of special cases, <strong>the core requirement for an item to be included is to contain the word "peat" or "peatland" or "wetland"</strong>.</p></li>
                    <li><p>In addition to the keyword search, we also delved into the <strong>government website and local literature</strong> (e.g. Naturalists Klub's report for Life Peat Restore) to ensure we covered other prominent peatland-specific documents that fall between the above 19 keywords.</p></li>
                    <li><p>For government websites, many countries' websites have <strong>"site maps"</strong> that show entries to topical policy collections, which are somehow hard to find from googling. These repositories are a great source for topical strategies that are less prioritised in search engines' algorithms.</p></li>
                    <li><p>For policies that are immediately relevant to peatlands (e.g. a peatland strategy), we would read the <strong>policy framework section</strong> and make sure we have relevant policies included.</p></li>
                    <li><p>We rely on <strong>Google Translate</strong> for any non-English materials.</p></li>
                    <li><p>Language barrier is a major reason for how deep (and broad) we are able to go into a given country's collection, but this method should have given each country a <strong>somewhat standardised starting point</strong>.</p></li>
                </ul>
                <p>Results:</p>
                <ul>
                    <li><p>405 total policies</p></li>
                </ul>
            </div>
            <div>
                <p style="font-size: large;">Phase III (June 2025-Present)</p>
                <p>Main methods:</p>
                <ul>
                    <li><p>Expert workshops</p></li>
                    <li><p>Submissions via our policy suggestion form</p></li>
                </ul>
            </div>
        </div>
        <div>
            <h5>Full list of EU laws/strategies</h5>
            <p>Policies to include in the Peatland Policy Portal (PPP) must adhere to the following rules:</p>
            <ul>
                <li><p>Habitats Directive (92/43/EEC)</p></li>
                <li><p>Birds Directive (79/409/EEC)</p></li>
                <li><p>Natura 2000</p></li>
                <li><p>Biodiversity Strategy for 2030 (BS2030)</p></li>
                <li><p>Nature Restoration Regulation (EU) 2024/1991, amending Regulation (EU) 2022/869 </p></li>
                <li><p>EU Soil Strategy (Soil Monitoring Law in making) (key deliverable of BS2030) COM(2021) 699 final</p></li>
                <li><p>Forestry Strategy (in making: new EU Framework for Forest Monitoring and Strategic Plans) COM(2021) 572 final</p></li>
                <li><p>EU Strategy on Adaptation to Climate Change (COM(2021) 82)</p></li>
                <li><p>Farm to Fork Strategy; On-going Framework for Sustainable Food Systems legislation</p></li>
                <li><p>Common Agricultural Policy (CAP) Regulation (EU) 2021/2115</p></li>
                <li><p>Land Use, Land-Use Change, and Forestry (LULUCF) Regulation</p></li>
                <li><p>Environmental Impact Assessment Directive (EIA) (2014/52/EU + 2011/92/EU)</p></li>
                <li><p>Greenhouse Gas Emission Trading (EU ETS) Directive (2003/87/EC) (amending 96/61/EC)</p></li>
                <li><p>The EU Carbon Removals Certification Framework: The Carbon Removals and Carbon Farming (CRCF) Regulation (EU/2024/3012)</p></li>
                <li><p>EU Methane Strategy (COM/2020/663)</p></li>
                <li><p>Water Framework Directive (2000/60/EC)	</p></li>
                <li><p>Taxonomy Regulation (EU) 2020/852 *Only supplement Technical Screening Criteria for Climate Change Activity Regulation (EU) 2021/2139 contains peat; important supplement"</p></li>
                <li><p>Renewable Energy Directive (2023/2413) (RED III Directive) (initially 2009/28/EC, several amendments, recast as 2018/2001, now 2023/2413)</p></li>
                <li><p>National energy and climate plans (NECPs) Regulation (EU) 2018/1999</p></li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}