{% extends "base.html" %}

{% block title %}Policy Suggestion Form{% endblock %}

{% block content %}
<div class="container" style="min-height: 760px;">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h4 class="text-center" style="padding:5px; padding-top:20px">POLICY SUGGESTION FORM</h4>
            <h5 class="text-center" style="padding:5px">{{ message }}</h5> 
            <div style="margin: 5px; margin-bottom: 15px;">
                <p class="text-descr">
                    Thank you for helping us grow the <a class="textab" href="https://peatlandpolicyportal.eu/">Peatland Policy Portal</a>.
                    <br>
                    Please use this form to suggest a policy. We are currently collecting policies that affect EU member states and the UK. This includes:
                </p>
                <ul style="margin:0px">
                    <li><p class="text-descr">Globally and multinationally binding agreements (<em>e.g. the Paris Agreement</em>)</p></li>
                    <li><p class="text-descr">European Union policies (<em>e.g. the Nature Restoration Regulation</em>)</p></li>
                    <li><p class="text-descr">National government policies (<em>e.g. Germany's National Peatland Protection Strategy</em>)</p></li>
                    <li><p class="text-descr">Regional policies (<em>e.g. Ireland's Galway County Development Plan 2022 - 2028</em>)</p></li>
                </ul>
                <p class="text-descr">
                    Visit the current policy collection at <a class="textab" href="https://peatlandpolicyportal.eu/policy">https://peatlandpolicyportal.eu/policy</a>.
                    <br>
                    If you are unsure about any section, you can add comments in the "Additional information" field at the end of the form.
                    <br>
                    EU-LIFE Multi Peat Team
                </p>
            </div>
            <div class="pol-coll-div" style="margin-bottom: 10px;">
                <form method="post" class="container">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <h5 class="text-center">Contact Information</h5>
                    <div class="col-6">
                        <!-- email -->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="You will receive a confirmation email once your suggestion is submitted. By providing your email address, you consent to us contacting you if we have questions about your submission. We will not share or use this email for any other purpose.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="inputEmail" class="form-label">Email (optional)</label>
                        <input type="text" class="form-control" id="inputEmail" name="email">
                    </div>
                    <hr class="pol">
                    <h5 class="text-center">Language and Title</h5>
                    <div class="col-6">
                        <!-- language -->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Select the policy's original language">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="inputPolLang" class="form-label">Original language of the policy</label>
                        <p style="color: red;" class="d-inline">*</p>
                        <select class="form-select" id="inputPolLang" name="pollang" required>
                            <option value="" selected>Language</option>
                        </select>
                        <!-- original title -->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Enter the policy's original title <br> Example: <br> <em>Aktionsprogramm Natürlicher Klimaschutz</em> <br> or <em>Scottish National Flood Resilience Strategy</em>">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="inputPolNatName" class="form-label">Policy title in original language</label>
                        <p style="color: red;" class="d-inline">*</p>
                        <input type="text" class="form-control" id="inputPolNatName" name="nattitle" required>
                        <!-- english title -->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Enter the English translation of the title <br> Example: <em>German Federal Action Plan on Nature-based Solution for Climate and Biodiversity</em>">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="inputPolEngName" class="form-label">Policy title in English (if applicable)</label>
                        <input type="text" class="form-control" id="inputPolEngName" name="engtitle">
                    </div>
                    <hr class="pol">
                    <h5 class="text-center">Governance Level</h5>
                    <div class="col-6">
                        <!--level-->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title='Select the governance level the policy affects.<br>Example: Select "European Union" for EU directives.'>
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="inputPolLvl" class="form-label">Governance level</label>
                        <p style="color: red;" class="d-inline">*</p>
                        <select class="form-select" id="inputPolLvl" name="govlvl" required>
                            <option value="Global">Global</option>
                            <option value="European">European Union</option>
                            <option value="National">National</option>
                            <option value="Regional">Regional</option>
                        </select>
                        <!--country-->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Select the country the policy affects.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="inputPolCtry" class="form-label">Country (if applicable)</label>
                        <select class="form-select" id="inputPolCtry" name="ctry">
                            <option value="" selected>Country</option>
                        </select>
                        <!--region-->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Enter the region the policy affects.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="inputPolReg" class="form-label">Region (if applicable)</label>
                        <input type="text" class="form-control" id="inputPolReg" name="reg"/>
                    </div>
                    <hr class="pol">
                    <h5 class="text-center">Publishing Information</h5>
                    <div class="col-6">
                        <!--publication year-->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Enter the year of publication (yyyy)<br>Example: 2021">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="inputPolStartDate" class="form-label">Year of publication</label>
                        <input type="text" class="form-control" id="inputPolStartDate" name="startyr"/>
                        <!--publishers-->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Enter the publisher's name in the original language. Separate multiple names with a semicolon.<br>Example: <em>Department of Agriculture; Ministry of the Environment</em>">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="inputPolPub" class="form-label">Publisher(s)</label>
                        <input type="text" class="form-control" id="inputPolPub" name="polpub"/>
                    </div>
                    <hr class="pol">
                    <h5 class="text-center">Policy Information</h5>
                    <div class="col-6">
                        <!-- link to policy page -->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="We prefer links to official government websites or legal repositories. If this is not possible, you can link to a trustworthy site.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="inputPolPageLnk" class="form-label">Link to policy information page</label>
                        <p style="color: red;" class="d-inline">*</p>
                        <input type="text" class="form-control" id="inputPolPageLnk" name="pglnk" required/>
                        <!-- link to policy pdf -->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Enter the link to the official PDF">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="inputPolPdfLnk" class="form-label">Link to PDF of the policy</label>
                        <input type="text" class="form-control" id="inputPolPdfLnk" name="pdflnk"/>
                        <!--categories-->
                        <svg height="20" width="16">
                            <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Select the policy's area(s) of impact">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label class="form-label">Policy Domain</label>
                        <a class="btn w-100 btn-ddw dropdown-toggle" id="inputPoldropbtn" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" style="font-size: 14px;">
                            Select categories
                        </a>
                        <ul class="col-4 dropdown-menu" style="padding:0px;">
                            <div class="bio-cls-clr">
                                <input id="bio-cls-bx-ps" name="bio-cls" type="checkbox" class="form-check-input pol-cls-inp">
                                <label class="form-label" for="bio-cls-bx-ps">Biodiversity</label>
                            </div>
                            <div class="clm-cls-clr">
                                <input id="clm-cls-bx-ps" name="clm-cls" type="checkbox" class="form-check-input pol-cls-inp">
                                <label class="form-label" for="clm-cls-bx-ps">Climate Action</label>
                            </div>
                            <div class="comm-cls-clr">
                                <input id="comm-cls-bx-ps" name="comm-cls" type="checkbox" class="form-check-input pol-cls-inp">
                                <label class="form-label" for="comm-cls-bx-ps">Culture</label>
                            </div>
                            <div class="econ-cls-clr">
                                <input id="econ-cls-bx-ps" name="econ-cls" type="checkbox" class="form-check-input pol-cls-inp">
                                <label class="form-label" for="econ-cls-bx-ps">Economy</label>
                            </div>
                            <div class="enr-cls-clr">
                                <input id="enr-cls-bx-ps" name="enr-cls" type="checkbox" class="form-check-input pol-cls-inp">
                                <label class="form-label" for="enr-cls-bx-ps">Energy</label>
                            </div>
                            <div class="env-cls-clr">
                                <input id="env-cls-bx-ps" name="env-cls" type="checkbox" class="form-check-input pol-cls-inp">
                                <label class="form-label" for="env-cls-bx-ps" style="margin-right: 5px;">Environmental Quality</label>
                            </div>
                            <div class="land-cls-clr">
                                <input id="land-cls-bx-ps" name="land-cls" type="checkbox" class="form-check-input pol-cls-inp">
                                <label class="form-label" for="land-cls-bx-ps">Land Use</label>
                            </div>
                            <div class="res-cls-clr">
                                <input id="res-cls-bx-ps" name="res-cls" type="checkbox" class="form-check-input pol-cls-inp">
                                <label class="form-label" for="res-cls-bx-ps">Research</label>
                            </div>
                        </ul>
                    </div>
                    <!-- relevance to peatland -->
                    <svg height="20" width="16">
                        <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Briefly explain the policy's relevance to peatland (e.g., conservation, restoration, extraction).">
                            <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                        </a>
                    </svg>
                    <label for="inputPolRelev" class="form-label">Relevance to peatlands</label>
                    <textarea class="form-control" id="inputPolRelev" name="relev"></textarea>
                    <!-- additional information -->
                    <svg height="20" width="16">
                        <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="Please leave a comment or provide any other details here">
                            <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                        </a>
                    </svg>
                    <label for="inputPolAddtl" class="form-label">Additional information</label>
                    <textarea class="form-control" id="inputPolAddtl" name="addtl"></textarea>
                    <!-- submit -->
                    <div class="row justify-content-center" style="margin-top: 15px;">
                        <div class="col-md-3">
                            <button id="inputPolSub" type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>   
        </div>
    </div>
</div>

<script>
    /// populate country selection
    var xhttp;
    xhttp =  new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var obj = JSON.parse(this.responseText)['result']['response'];
            //console.log(obj);
            obj.forEach(entry =>{
                const element = `<option value="${entry['id']}">${entry['name']}</option>`;
                const ctry_sel = $(`#inputPolCtry`);
                ctry_sel.append(element);
            });
        }
    };
    xhttp.open("GET", "/countrydata", true);
    xhttp.send();

    /// populate language selection
    var xhttp;
    xhttp =  new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var obj = JSON.parse(this.responseText)['result']['response'];
            //console.log(obj);
            const ctry_sel = $(`#inputPolLang`);
            obj.forEach(entry =>{
                const element = `<option value="${entry['id']}" label="${entry['name']}">${entry['name']}</option>`;
                ctry_sel.append(element);
            });
        }
    };
    xhttp.open("GET", "/languagedata", true);
    xhttp.send();
</script>

<!--popover script-->
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

{% endblock %}