{% extends "base.html" %}

{% block title %}SET Tool{% endblock %}
{% block content %}
<div class="empty-spacing" style="padding-top: 10px;"></div>
<div class="container set-input-div" style="max-width: 900px; display: grid;">
    <div style="margin-left: 25px;">
        <h4 style="font-weight: bold; justify-content: center;">
            SITE EMISSIONS TOOL
            <img src="{{url_for('static', filename='cconnects-logo.png')}}" width="105" height="35" class="d-inline-block align-text-center" style="padding-left: 10px;">
            <img src="{{url_for('static', filename='INSIGHT-LOGO-WHITE.png')}}" width="105" height="35" class="d-inline-block align-text-center" style="padding-left: 10px;">
        </h4>
        <p style="padding-top: 10px; color:#00705e" class="text-descr">SET determines the amount of carbon in the soil at the start of your project and subtracts the carbon that <i>would</i> be emitted each year as the peat degrades. It uses 'avoidance' rather than 'sequestration' to assess carbon.</p>
    </div>
    <div class="empty-spacing" style="padding-top: 15px;"></div>
    <form action="/settool" method="POST" id="set-form" enctype=multipart/form-data>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="container" style="max-width: 500px;">
            <div class="row align-items-center">
                <div class="col-6">
                    <label for="site_name" class="form-label">Site Name</label> 
                </div>
                <div class="col-6">
                    <input type="text" class="validate form-control" id="site_name" name="site_name" value="{{inpt['gen_site_data']['site_name']}}" required>
                </div>
            </div>
            <hr class="inf">
            <div class="row align-items-center">
                <div class="col-8">
                    <label for="tot_area" class="form-label">Total area in ha.</label> 
                </div>
                <div class="col-4">
                    <input type="number" class="validate form-control" id="tot_area" name="tot_area" min="0" max="9999" step="0.01" value="{{inpt['gen_site_data']['tot_area']}}" required>
                </div>
            </div>
            <hr class="inf">
            <div class="row align-items-center">
                <div class="col-6">
                    <svg height="20" width="16">
                        <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Coordinates of site.">
                            <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>
                        </a>
                    </svg>
                    <label for="coords" class="form-label" style="margin-left: 2px;">Coordinates</label> 
                </div>
                <div class="col-6">
                    <input type="text" class="validate form-control" id="coords" name="coords" value="{{inpt['gen_site_data']['coords']}}" required>
                </div>
            </div>
            <hr class="inf">
            <div class="row align-items-center">
                <div class="col-8">
                    <label for="elevation" class="form-label">Elevation</label> 
                </div>
                <div class="col-4">
                    <input type="text" class="validate form-control" id="elevation" name="elevation" value="{{inpt['gen_site_data']['elevation']}}" required>
                </div>
            </div>
            <hr class="inf">
            <div class="row align-items-center">
                <div class="col-6">
                    <label for="peat_type" class="form-label">Peat type</label> 
                </div>
                <div class="col-6">
                    <select class="validate form-select" id="peat_type" name="peat_type" value="{{inpt['gen_site_data']['peat_type']}}" required>
                        <!--<option selected>Select peat type</option>-->
                        <option value="sphag">Sphagnum</option>
                        <option value="herbac">Herbaceous</option>
                        <option selected value="woody">Woody</option>
                        <option value="bromo">Brown moss</option>
                        <option value="unkno">Unknown</option>
                        <option value="humidif">Humidified</option>
                    </select>
                </div>
            </div>
            <hr class="inf">
            <div class="row align-items-center">
                <div class="col-8">
                    <label for="peat_thick" class="form-label">Peat thickness (cm)</label> 
                </div>
                <div class="col-4">
                    <input type="number" class="validate form-control" id="peat_thick" name="peat_thick" min="0" max="9999" step="0.01" value="{{inpt['gen_site_data']['peat_thick']}}" required>
                </div>
            </div>
            <hr class="inf">
            <div class="row align-items-center justify-content-between">
                <div class="col-8">
                    <label for="year_start" class="form-label">Year rewetting started</label> 
                </div>
                <div class="col-4">
                    <input type="number" class="validate form-control" id="year_start" name="year_start" min="1900" max="3000" value="{{inpt['gen_site_data']['year_start']}}" required>
                </div>
            </div>
        </div>
        <div class="empty-spacing" style="padding-top: 15px;"></div>
        <div class="container set-base-div">
            <div class="upper-base">
                <p style="font-weight: bold;">Baseline: groundwater and vegetation</p>
                <hr>    
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Median groundwater level.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>
                            </a>
                        </svg>
                        <label for="bs_med_gw_level_summer" class="form-label" style="margin-left: 2px;">Median groundwater level in summer (cm)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="bs_med_gw_level_summer" name="bs_med_gw_level_summer" min="-999" max="999" step="0.001" value="{{inpt['base']['med_gw_level_summer']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Vegetation class.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>
                            </a>
                        </svg>
                        <label for="bs_veg_class" class="form-label" style="margin-left: 2px;">Vegetation class</label> 
                    </div>
                    <div class="col-4">
                        <select class="validate form-select" id="bs_veg_class" name="bs_veg_class" required>
                            <option selected value="G1">G1: Dry to moderately moist grassland</option>
                            <option value="G2">G2: Moist grassland</option>
                            <option value="G3">G3: Moist to very moist grassland</option>
                            <option value="G3f">G3f: Periodically flooded grasslands</option>
                            <option value="G3s">G3s: Moist to very moist grassland with shunt species</option>
                            <option value="G3m">G3m: Moist to very moist acidic Molinia meadows</option>
                            <option value="G4">G4: Very moist grassland</option>
                            <option value="G4s">G4s: Very moist grassland with shunt species</option>
                            <option value="G5">G5: Wet grassland</option>
                            <option value="G5s">G5s: Wet grassland with shunt species</option>
                            <option value="A1">A1: Dry to moderately moist arable land</option>
                            <option value="A2">A2: Moist arable land</option>
                            <option value="U1">U1: Moist bare peat</option>
                            <option value="U2">U2: Moist bog heath</option>
                            <option value="U3">U3: Moist Reeds</option>
                            <option value="U6">U6: Very moist bog heath</option>
                            <option value="U7">U7: Very moist forbs and sedges</option>
                            <option value="U8">U8: Very moist Sphagnum lawn</option>
                            <option value="U9">U9: Very moist tall sedges</option>
                            <option value="U10">U10: Wet bare peat</option>
                            <option value="U11">U11: Wet meadows and forbs</option>
                            <option value="U12">U12: Wet small sedges with mosses</option>
                            <option value="U13">U13: Wet sphagnum lawn</option>
                            <option value="U14">U14: Wet tall reeds</option>
                            <option value="U15">U15: Wet tall sedges</option>
                            <option value="U16">U16: Wet bog heath</option>
                            <option value="U17">U17: Very wet tall sedges and Typha</option>
                            <option value="U18">U18: Very wet Phragmites reeds</option>
                            <option value="U19">U19: Wet to very wet Sphagnum hollows</option>
                            <option value="U20">U20: Flooded tall reeds (> 20 cm above surface)</option>
                            <option value="S1">S1: Dry to moderately moist grassland on peaty soils (Anmoor)</option>
                            <option value="S2">S2: Dry to moderately moist arable land on peaty soils(Anmoor)</option>
                            <option value="S3">S3: Cropland (2+) flooded in summer (wet year)</option>
                            <option value="S4">S4: Grassland (2+/3+) flooded in summer (wet year)</option>
                            <option value="S5">S5: Simulated harvest (Paludiculture)</option>
                            <option value="S6">S6: Wet tall reeds (dry year)</option>
                            <option value="S7">S7: Very wet reeds with lateral import of organic matter</option>
                            <option value="S8">S8: Ditches in low intensity grassland</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="empty-spacing" style="padding-top: 15px;"></div>
            <div class="container set-rewet-div">
                <p style="font-weight: bold;">After rewetting: groundwater and vegetation</p>
                <hr>
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Median groundwater level.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="rw_med_gw_level_summer" class="form-label" style="margin-left: 2px;">Median groundwater level in summer (cm)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="rw_med_gw_level_summer" name="rw_med_gw_level_summer" min="-999" max="999" step="0.001" value="{{inpt['rewet']['med_gw_level_summer']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Vegetation class.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="rw_veg_class" class="form-label" style="margin-left: 2px;">Vegetation class</label> 
                    </div>
                    <div class="col-4">
                        <select class="validate form-select" id="rw_veg_class" name="rw_veg_class" required>
                            <option selected value="G1">G1: Dry to moderately moist grassland</option>
                            <option value="G2">G2: Moist grassland</option>
                            <option value="G3">G3: Moist to very moist grassland</option>
                            <option value="G3f">G3f: Periodically flooded grasslands</option>
                            <option value="G3s">G3s: Moist to very moist grassland with shunt species</option>
                            <option value="G3m">G3m: Moist to very moist acidic Molinia meadows</option>
                            <option value="G4">G4: Very moist grassland</option>
                            <option value="G4s">G4s: Very moist grassland with shunt species</option>
                            <option value="G5">G5: Wet grassland</option>
                            <option value="G5s">G5s: Wet grassland with shunt species</option>
                            <option value="A1">A1: Dry to moderately moist arable land</option>
                            <option value="A2">A2: Moist arable land</option>
                            <option value="U1">U1: Moist bare peat</option>
                            <option value="U2">U2: Moist bog heath</option>
                            <option value="U3">U3: Moist Reeds</option>
                            <option value="U6">U6: Very moist bog heath</option>
                            <option value="U7">U7: Very moist forbs and sedges</option>
                            <option value="U8">U8: Very moist Sphagnum lawn</option>
                            <option value="U9">U9: Very moist tall sedges</option>
                            <option value="U10">U10: Wet bare peat</option>
                            <option value="U11">U11: Wet meadows and forbs</option>
                            <option value="U12">U12: Wet small sedges with mosses</option>
                            <option value="U13">U13: Wet sphagnum lawn</option>
                            <option value="U14">U14: Wet tall reeds</option>
                            <option value="U15">U15: Wet tall sedges</option>
                            <option value="U16">U16: Wet bog heath</option>
                            <option value="U17">U17: Very wet tall sedges and Typha</option>
                            <option value="U18">U18: Very wet Phragmites reeds</option>
                            <option value="U19">U19: Wet to very wet Sphagnum hollows</option>
                            <option value="U20">U20: Flooded tall reeds (> 20 cm above surface)</option>
                            <option value="S1">S1: Dry to moderately moist grassland on peaty soils (Anmoor)</option>
                            <option value="S2">S2: Dry to moderately moist arable land on peaty soils(Anmoor)</option>
                            <option value="S3">S3: Cropland (2+) flooded in summer (wet year)</option>
                            <option value="S4">S4: Grassland (2+/3+) flooded in summer (wet year)</option>
                            <option value="S5">S5: Simulated harvest (Paludiculture)</option>
                            <option value="S6">S6: Wet tall reeds (dry year)</option>
                            <option value="S7">S7: Very wet reeds with lateral import of organic matter</option>
                            <option value="S8">S8: Ditches in low intensity grassland</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-spacing" style="padding-top: 15px;"></div>
        <div class="container set-base-div">
            <div class="upper-base">
                <p style="font-weight: bold;">Baseline: fertiliser use</p>
                <hr>
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Animal manure.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="bs_amount_manure" class="form-label" style="margin-left: 2px;">Animal manure applied (k N/h)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="bs_amount_manure" name="bs_amount_manure" min="0" max="9999" step="0.01" value="{{inpt['base']['amount_manure']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Organic fertilizer.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="bs_amount_org_fert" class="form-label" style="margin-left: 2px;">Organic fertilizer applied (k N/h)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="bs_amount_org_fert" name="bs_amount_org_fert" min="0" max="9999" step="0.01" value="{{inpt['base']['amount_org_fert']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="bs_type_synth_fert" class="form-label">Synthetic fertilizer</label> 
                    </div>
                    <div class="col-4">
                        <select class="validate form-select" id="bs_type_synth_fert" name="bs_type_synth_fert" required>
                            <option value="nitrate">Nitrate based</option>
                            <option selected value="ammonium">Ammonium based</option>
                        </select>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="bs_amount_synth_fert" class="form-label">Amount applied (k N/h)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="bs_amount_synth_fert" name="bs_amount_synth_fert" min="0" max="9999" step="0.01" value="{{inpt['base']['amount_synth_fert']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="bs_type_animals" class="form-label">Grazing animals</label> 
                    </div>
                    <div class="col-4">
                        <select class="validate form-select" id="bs_type_animals" name="bs_type_animals" required>
                            <option value="none">No animal</option>
                            <option value="dairy">Dairy cows</option>
                            <option value="beef">Beef cattle</option>
                            <option selected value="sheep">Sheep</option>
                            <option value="goat">Goat</option>
                            <option value="buff">Water buffalo</option>
                        </select>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="bs_avg_num_animals" class="form-label">Avergage number of grazing animals</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="bs_avg_num_animals" name="bs_avg_num_animals" min="0" max="9999" step="0.01" value="{{inpt['base']['avg_num_animals']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="bs_avg_num_days" class="form-label">Average grazing days per year</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="bs_avg_num_days" name="bs_avg_num_days" min="0" max="9999" step="0.01" value="{{inpt['base']['avg_num_days']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="bs_crop_yield" class="form-label">Crop yield (ton dm/ha/yr)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="bs_crop_yield" name="bs_crop_yield" min="0" max="9999" step="0.01" value="{{inpt['base']['crop_yield']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="form-check form-switch" style="display: grid;">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-8">
                            <label for="bs_crop_resid" class="form-check-label">Crop residues</label>
                        </div><div class="col-2 justify-content-center" style="justify-content: center;">
                            <input type="checkbox" class="form-check-input" role="switch" id="bs_crop_resid" name="bs_crop_resid" value="{{inpt['base']['crop_resid']}}" checked>
                        </div>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="bs_crop_name" class="form-label">Crop</label> 
                    </div>
                    <div class="col-4">
                        <select class="validate form-select" id="bs_crop_name" name="bs_crop_name" required>
                            <option value="cat">Cattail (Typha sp.)</option>
                            <option value="reed">Reed (Phragmites australis)</option>
                            <option selected value="sphag">Peat moss (Sphagnum sp.)</option>
                            <option value="grass">Grasses like reed canary grass</option>
                            <option value="alder">Alder (Alnus sp.)</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="empty-spacing" style="padding-top: 15px;"></div>
            <div class="container set-rewet-div">
                <p style="font-weight: bold;">After rewetting: fertiliser use</p>
                <hr>
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Animal manure.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="rw_amount_manure" class="form-label" style="margin-left: 2px;">Animal manure applied (k N/h)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="rw_amount_manure" name="rw_amount_manure" min="0" max="9999" step="0.01" value="{{inpt['rewet']['amount_manure']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Organic fertilizer.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="rw_amount_org_fert" class="form-label" style="margin-left: 2px;">Organic fertilizer applied (k N/h)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="rw_amount_org_fert" name="rw_amount_org_fert" min="0" max="9999" step="0.01" value="{{inpt['rewet']['amount_org_fert']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="rw_type_synth_fert" class="form-label">Synthetic fertilizer</label> 
                    </div>
                    <div class="col-4">
                        <select class="validate form-select" id="rw_type_synth_fert" name="rw_type_synth_fert" required>
                            <option value="nitrate">Nitrate based</option>
                            <option selected value="ammonium">Ammonium based</option>
                        </select>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="rw_amount_synth_fert" class="form-label">Amount applied (k N/h)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="rw_amount_synth_fert" name="rw_amount_synth_fert" min="0" max="9999" step="0.01" value="{{inpt['rewet']['amount_synth_fert']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="rw_type_animals" class="form-label">Grazing animals</label> 
                    </div>
                    <div class="col-4">
                        <select class="validate form-select" id="rw_type_animals" name="rw_type_animals" required>
                            <option value="none">No animal</option>
                            <option value="dairy">Dairy cows</option>
                            <option value="beef">Beef cattle</option>
                            <option selected value="sheep">Sheep</option>
                            <option value="goat">Goat</option>
                            <option value="buff">Water buffalo</option>
                        </select>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="rw_avg_num_animals" class="form-label">Avergage number of grazing animals</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="rw_avg_num_animals" name="rw_avg_num_animals" min="0" max="9999" step="0.01" value="{{inpt['rewet']['avg_num_animals']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="rw_avg_num_days" class="form-label">Average grazing days per year</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="rw_avg_num_days" name="rw_avg_num_days" min="0" max="9999" step="0.01" value="{{inpt['rewet']['avg_num_days']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="rw_crop_yield" class="form-label">Crop yield (ton dm/ha/yr)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="rw_crop_yield" name="rw_crop_yield" min="0" max="9999" step="0.01" value="{{inpt['rewet']['crop_yield']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="form-check form-switch" style="display: grid;">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-8">
                            <label for="rw_crop_resid" class="form-check-label">Crop residues</label>
                        </div><div class="col-2 justify-content-center" style="justify-content: center;">
                            <input type="checkbox" class="form-check-input" role="switch" id="rw_crop_resid" name="rw_crop_resid" checked>
                        </div>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <label for="rw_crop_name" class="form-label">Crop</label> 
                    </div>
                    <div class="col-4">
                        <select class="validate form-select" id="rw_crop_name" name="rw_crop_name" required>
                            <option value="cat">Cattail (Typha sp.)</option>
                            <option selected value="reed">Reed (Phragmites australis)</option>
                            <option value="sphag">Peat moss (Sphagnum sp.)</option>
                            <option value="grass">Grasses like reed canary grass</option>
                            <option value="alder">Alder (Alnus sp.)</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-spacing" style="padding-top: 15px;"></div>
        <div class="container set-base-div">
            <div class="upper-base">
                <p style="font-weight: bold;">Baseline: land management activity</p>
                <hr>
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Diesel Use.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="bs_diesel_per_site" class="form-label" style="margin-left: 2px;">Diesel Use</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="bs_diesel_per_site" name="bs_diesel_per_site" min="0" max="9999" step="0.01" value="{{inpt['base']['diesel_per_site']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Electricity Use.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="bs_elec_per_site" class="form-label" style="margin-left: 2px;">Electricity Use (kW)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="bs_elec_per_site" name="bs_elec_per_site" min="0" max="9999" step="0.01" value="{{inpt['base']['elec_per_site']}}" required>
                    </div>
                </div>
            </div>
            <div class="empty-spacing" style="padding-top: 15px;"></div>
            <div class="container set-rewet-div">
                <p style="font-weight: bold;">After rewetting: land management activity</p>
                <hr>
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Diesel Use.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="rw_diesel_per_site" class="form-label" style="margin-left: 2px;">Diesel Use</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="rw_diesel_per_site" name="rw_diesel_per_site" min="0" max="9999" step="0.01" value="{{inpt['rewet']['diesel_per_site']}}" required>
                    </div>
                </div>
                <hr class="inf">
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Electricity Use.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="rw_elec_per_site" class="form-label" style="margin-left: 2px;">Electricity Use (kW)</label> 
                    </div>
                    <div class="col-4">
                        <input type="number" class="validate form-control" id="rw_elec_per_site" name="rw_elec_per_site" min="0" max="9999" step="0.01" value="{{inpt['rewet']['elec_per_site']}}" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-spacing" style="padding-top: 15px;"></div>
        <div class="container set-base-div">
            <div class="container set-rewet-div">
                <p style="font-weight: bold;">Rewetting: crop use</p>
                <hr>
                <div class="row align-items-center">
                    <div class="col-8">
                        <svg height="20" width="16">
                            <a data-bs-toggle="popover" tabindex="0" data-bs-trigger="focus" data-bs-placement="right" data-bs-content="Crop use.">
                                <image xlink:href="{{ url_for('static', filename='INFO-icon.png') }}" style="height:20px; width:16px"></image>                            
                            </a>
                        </svg>
                        <label for="rw_crop_use" class="form-label" style="margin-left: 2px;">Crop Use</label> 
                    </div>
                    <div class="col-4">
                        <select class="validate form-select" id="rw_crop_use" name="rw_crop_use" required>
                            <option value="build">Building material (e.g. insulation, tachine, timber)</option>
                            <option value="bed">Bedding material</option>
                            <option selected value="food">Food application</option>
                            <option value="feed">Fodder/feed application</option>
                            <option value="energy">Energy use (e.g. biogas, combustion, wood)</option>
                            <option value="paper">Paper</option>
                            <option value="ingred">Extraction of ingredients/ building blocks (e.g. protein, fibres, cellulose)</option>
                            <option value="substr">High quality substrate in agriculture</option>
                            <option value="other">Other uses/ unknown</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="justify-content: center;">
            <div class="col-1">
                <button id="set_submit" class="btn btn-success btn-sm" style="font-weight: 500; margin-top: 20px;">Submit</button>
            </div>
        </div>
    </form>
</div>

<div>
    <p>{{results}}</p>
</div>

<!--popover script-->
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
{% endblock %}