{% extends "base.html" %}

{% block title %}Stakeholders{% endblock %}

{% block content %}

<div class="container" style="min-height: 800px;">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h4 class="text-center" style="padding:10px">GOVERNANCE STAKEHOLDERS</h4>
            <p class="text-descr" style="padding-bottom:10px">
                On this page you can explore our collection of political stakeholders for peatland-affecting policies. 
                At the moment, you can filter the stakeholders by country and governance level.
                We will be adding further stakeholders and querying methods as we grow our portal.
            </p>

            <div class="row justify-content-center">
                <div class="col-3">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" style="width: 100%;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Countries
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" onclick='stakeholdersGetShow("country", "Ireland")'>Ireland</a></li>
                        <li><a class="dropdown-item" onclick='stakeholdersGetShow("country", "Poland")'>Poland</a></li>
                        <li><a class="dropdown-item" onclick='stakeholdersGetShow("country", "Netherlands")'>Netherlands</a></li>
                        <li><a class="dropdown-item" onclick='stakeholdersGetShow("country", "Germany")'>Germany</a></li>
                        <li><a class="dropdown-item" onclick='stakeholdersGetShow("country", "Belgium")'>Belgium</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" style="width: 100%;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Governance Level
                        </button>
                        <ul class="dropdown-menu">
                            <!--<li><a class="dropdown-item" onclick='stakeholdersGetShow("level", "Global")'>Global</a></li>
                            <li><a class="dropdown-item" onclick='stakeholdersGetShow("level", "European")'>EU</a></li>-->
                            <li><a class="dropdown-item" onclick='stakeholdersGetShow("level", "National")'>National</a></li>
                            <li><a class="dropdown-item" onclick='stakeholdersGetShow("level", "Regional")'>Regional</a></li>
                            <li><a class="dropdown-item" onclick='stakeholdersGetShow("level", "Local")'>Local</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion stk-coll-div" id="stk-coll-div" style="margin-bottom: 10px;">
                <p class="text-center" style="padding: 20px;">Please select a filter to begin exploring governance stakeholders.</p>
            </div>
        </div>
    </div>
</div>

<script>
    async function stakeholdersGetShow(dkey, term){
        const url = '/stakeholderdata';
        var stkLst = [];
        try {
            const response = await fetch(url);
            if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
            }
            const json = await response.json();
            stkcol= json["result"]["response"];
            //console.log(stkcol);
            stkcol.forEach(stk =>{
                stkLst.push(stk);
            })
        } catch (error) {
            console.error(error.message);
        }
        
        const stkPop = $('#stk-coll-div');
        stkPop.html('');
        var element = `<h4 id="stk-res-he" class="text-center" style="padding-bottom:20px">${term} Stakeholders</h4>`;
        stkPop.append(element);
        for (let i = 0; i < stkLst.length; i++) {
            var stkhldr = stkLst[i];
            if(stkhldr[dkey]==term){
                var element = `<div class="accordion-item stkcol-acc-itm" style="margin-bottom:5px;">
                                                <div class="accordion-header stkcol-acc-hdr">
                                                    <button class="accordion-button collapsed stkcol-acc-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${i}" aria-expanded="true" aria-controls="collapse${i}">
                                                        <div class="container">
                                                            <p class="d-inline" style="font-weight:bold;">${ stkhldr['name'] } </p>
                                                            <p>${ stkhldr['country'] } | ${ stkhldr['level'] }</p>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div id="collapse${i}" class="accordion-collapse collapse stkcol-acc-coll">
                                                    <div class="accordion-body stkcol-acc-bdy">
                                                        <a href="${ stkhldr['stakeholder_link'] }" class="stkcol-lnk d-inline" style=>LINK</a>
                                                        <p>${ stkhldr['description'] }</p>
                                                    </div>
                                                </div>
                                            </div>`
                stkPop.append(element);
            }
        };
    }
</script>

{% endblock %}
